@import '~bootstrap/scss/bootstrap';


body{
    margin-right: auto;
    position: relative;
    min-height: 100vh;
}

.header{
    background-color: rgb(8, 5, 48);
    color: #fff;
    padding: 20px;
}

.main {
    display:flex;
    margin: 20px;
}

.nav.flex-column {
    width: 25%;
}

.contentmain {
    line-height: 24px;
    min-height: calc(100vh - 90px - 60px);
    width: 75%;
    margin-left: 20px;
}

.btn.btn-secondary {
    margin-top: 20px;
}

.footer {
    background-color: rgb(8, 5, 48);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
}