{% extends "base.html.twig" %}
 {% block body %}
    <div class="container">
        <div class= "row">
            <div class = "col-6">
                <div>
                    {% include 'displayerror.html.twig' %}
                </div>
            <form method="post">
                <label for="exampleFormControlTextarea1" class="form-label">Treść postu</label>
                <textarea class="form-control" name="content" rows="3"></textarea>
                <button type="submit" class="btn btn-secondary">Dodaj</button>
            </form>
            </div>
        </div>
    </div>
 {% endblock %}