{% extends "base.html.twig" %}
 {% block body %}
        <div class= "row">
            <div class = "col-6">
                <div>
                    {% include 'displayerror.twig' %}
                </div>
            <form class="px-4 py-3" method="post">
                <div class = "form-group">
                    <label for="username">Email:</label>
                    <input type="emal" name="email" class="form-control"/>
                </div>
                <div class = "form-group">
                    <label for="password">Hasło:</label>
                    <input type="password" name="password" class="form-control"/>
                </div>
                <div class = "form-group">
                    <label for="confirmpassword">Powtórz hasło:</label>
                    <input type="password" name="confirmpassword" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zarejestruj się" class="btn btn-secondary"/>
                </div>
            </form>
            </div>
        </div>
 {% endblock %}